<h1 class="text-center">Add new movie reviews here:</h1>
<form class="col-xs-10 col-xs-offset-1">
  <div class="form-group">
    <label>Movie Title</label>
    {{input type="text" class="form-control" value=title}}
  </div>
  <div class="form-group">
    <label>Release Year - Change data type to YEAR</label>
    {{input type="number" min="1906" max="2017" class="form-control" value=releaseYear}}
  </div>
  <div class="form-group">
    <label>Rating</label>
    {{input type="number" min="0" max="5" class="form-control" value=rating}}
  </div>
  <div class="form-group">
    <label>Movie Title</label>
    {{input type="text" class="form-control" value=review}}
  </div>
  <button {{ action 'addReview' }} class="btn btn-primary">Save</button>
</form>